.home{
    /* background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%); */
    background: url('../media/bg.jpg');
scroll-behavior: smooth;
width: 100%;
height: 100%;
background-attachment: fixed;
}

.intro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around ;
    padding: 4%;
}

.introwords{
    /* width: 100%; */
    font-size: 400%;
    background-color: #89d4cf;
    background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
    
      background-size: 50%;
    background-clip: text;
    font-family: 'Baloo 2', cursive;
    color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    
}
.hacktealoop{
    /* width: 45%; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 3rem;
    font-family: 'Audiowide', cursive;
    background:linear-gradient(135 deg ,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}
.hack{
    color: orangered;
}
.tea{
    color: white;
}
.loop{
    color:green
}
.quote{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: blanchedalmond;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.5rem;
    align-items: center;
    font-family: 'Courgette', cursive;
}
.stats{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.statsbox{
    border-radius: 20px;
    padding: 1%;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    margin: 4%;
    font-size: 2rem;
    align-items: center;
    width: 60%;
}
.statsbox:hover{
    /* width: 60%; */
    cursor:pointer;
    background: rgba(0,0,0,0)
}
.statsbox_content{
    background: rgb(5, 6, 45);
    border-radius: 17px;
    color:pink;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3%;
    align-items: center;
}

.introsubtitle{
    background-color: #92a8d1;
display: flex;
justify-content: center;
color: black;
font-size: 1.5rem;
/* background-clip: text; */
align-items: center;
margin-left: 10%;
margin-right: 10%;
padding: 1%;
border-radius: 10px;
}

   
   .introsubtitle:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.6s;
   }
   
   .introsubtitle span {
    position: absolute;
   }
   
   .introsubtitle span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ae00ff);
   }
   
   .introsubtitle:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
   .introsubtitle span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
   }
   
   .introsubtitle:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   .introsubtitle span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
   }
   
   .introsubtitle:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
   .introsubtitle span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
   }
   
   .introsubtitle:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
   .introsubtitle:active {
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
   }
   
   .introsubtitle:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }

   .buttonsContainer{
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       flex-wrap: wrap;
       margin-top: 4%;
       margin-bottom: 4%;
   }

   /* From css.gos.io */
.go {
    --glow-color: lightblue;
    --glow-spread-color: rgb(5, 6, 45);
    --enhanced-glow-color: rgba(231, 206, 255,0);
    --btn-color: rgba(100, 61, 136,0);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
   }
   
   .go::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .go:hover {
    color: black;
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   .go:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }
   
   /* From css.creators.io */
.creatorbutton {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
    margin-top: 7%;
   }
   
   .creatorbutton:active,
   .creator:hover {
    outline: 0;
   }
   
   .creatorbutton span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   
   .creatorcardcontainer{
       margin: 3%;
   }
   .creatorbutton:hover span {
    background: none;
   }
   
   .creatorbutton:active {
    transform: scale(0.9);
   }
   .creatorcard {
  
    /* background-color: #212121; */
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    border-radius: 1rem;
    border: #212121 0.2rem solid;
    transition: all 0.4s ease-in;
    box-shadow: 0.4rem 0.4rem 0.6rem #00000040;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   }
   
   .creatorcard:hover {
    transform: translateY(-1.5rem);
    border: #f2295bf0 0.2em solid;
    border-radius: 2.5rem 0 2.5rem 0;
   }

   .creatordp{
       margin: 1%;
   }
   .creatorProfile{
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       /* align-items: center; */
   }
   .CreatorSocials{
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: space-between;

   }
   .creatorName{
       font-size: 300%;
       color: white;

   }
.creatorName:hover{
    color: black;
}
.socialmedia{
    border-radius: 20px;
}
.socialmedia:hover{
    background-color: blanchedalmond;
}
   .creatortitle{
       font-size: 200%;
       color: white;
       text-align: center;
       font-family: 'Rowdies', cursive;
   }

   .opensourcecontainer {
  margin: 3%;
    /* background-color: #212121; */
    background-color: #000000;
    background-image: linear-gradient(220deg, #000000 0%, #5e5368 74%);
    

    border-radius: 1rem;
    border: #212121 0.2rem solid;
    transition: all 0.4s ease-in;
    box-shadow: 0.4rem 0.4rem 0.6rem #00000040;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   }
   
   .opensourcecontainer:hover {
    transform: translateY(-1.5rem);
    border: #f2295bf0 0.2em solid;
    border-radius: 2.5rem 0 2.5rem 0;
   
   }
   .frontend{
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       text-align: center;
   }
   .resource{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
   }
   .os_categ_pic:hover{
width: 150px;
cursor: pointer;
   }

   .os_categ_title{
    font-size: 150%;
    color: white;
    font-weight: bold;
}

